asgiref==3.11.1
boto3==1.43.89
botocore==1.43.89
Django==6.0.7
djangorestframework==3.17.1
jmespath==1.1.0
psycopg==3.3.4
psycopg-binary==3.3.4
python-dateutil==2.9.0.post0
s3transfer==0.19.2
six==1.17.0
sqlparse==0.5.5
tzdata==2026.3
urllib3==2.7.0
